<div role='banner' class="header_port">
{{#if @blog.logo}}<a class="logo_[prt" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
<h1 class="blogtitle_port">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{{@blog.title}}}
</a>
</h1>
<p class="blogdescription_port">
<a title="{{@blog.title}}" href='{{@blog.url}}'>
{{@blog.description}}
</a>
</p>
</div>